{% extends "base.html" %}
{% block body_block %}

    <div class="page-header">
        <h1>{{user_username.username|upper}}</h1>
        <p class="lead">Account Information</p>
    </div>
        <br>
        {% if user.is_authenticated and user.username == user_username.username %}
            <div class="row" style="margin-bottom: var(--space-lg);">
                <div class="col" style="display: flex; justify-content: center;">
                    <a href="{% url 'requests_to_user_all' %}?filter_by=requester" class="btn btn-primary" style="min-width: 200px;">Your book requests ({{user_requests_open_count}})</a>
                </div>
                <div class="col" style="display: flex; justify-content: center;">
                    <a href="{% url 'requests_to_user_all' %}?filter_by=owner" class="btn btn-primary" style="min-width: 200px;">Requested from you ({{user_requests_recieved_open_count}})</a>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <p>You have {{ user_book_count }} book{{ user_book_count|pluralize }}:</p>
                <ol>
                    {% for book in user_books %}
                        <li>
                            <a href="{% url 'single_book' pk=book.pk %}">{{ book.title }}</a>
                            {% if user.is_authenticated and user.username == user_username.username %}
                                <form method="post" action="{% url 'remove_book' %}" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="book_id" value="{{ book.pk }}">
                                    <input type="hidden" name="redirect_url" value="user_account">
                                    <button type="submit" class="btn btn-sm btn-link text-danger p-0 ms-2" onclick="return confirm('Remove this book from your library?')" title="Remove from library">✕</button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="col">
                <p>You want {{ user_wish_count }} book{{ user_wish_count|pluralize }}:</p>
                <ol>
                    {% for wish in user_wish %}
                        <li>
                            <a href="{% url 'single_book' pk=wish.book.pk %}">{{ wish.book.title }}</a>
                            <!-- For wished books, show number of available copies -->
                            {% if user.is_authenticated and wish.owners_count > 0 %}
                                ({{ wish.owners_count }} available)
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="col">
                <p>You belong to {{ user_group_count }} group{{ user_group_count|pluralize }}:</p>
                <ol>
                    {% for group in user_groups %}
                        <li><a href="{% url 'single_group' slug=group.slug %}">{{ group.group_name }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

{% endblock %}
