{% extends "base.html" %}
{% block body_block %}

    <div class="container my-3">
        <div class="p-3 text-center bg-body-tertiary rounded-3">
            <h1 class="text-body-emphasis">{{request.user.username|upper}}</h1>
            <h1 class="text-body-emphasis"><span lang="gr">Πληροφορίες λογαριασμού</span></h1>
            <p class="lead">Account Information</p>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <p>You have {{ user_book_count }} book{{ user_book_count|pluralize }}:</p>
                <ol>
                    {% for book in user_books %}
                        <li><a href="{% url 'single_book' pk=book.pk %}">{{ book.title }}</a></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="col">
                <p>You belong to {{ user_group_count }} group{{ user_group_count|pluralize }}:</p>
                <ol>
                    {% for group in user_groups %}
                        <li><a href="{% url 'single_group' slug=group.slug %}">{{ group.group_name }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

{% endblock %}
