{% extends "base.html" %}
{% block body_block %}

    {% if query %}
        <h2>Search results for "{{ query }}"</h2>
        <br>
        {% if books %}
            <ol>
                {% for book in books %}
                    <li>
                        <h3>{{ book.title }}</h3>
                        <p>Authors: {{ book.authors }}</p>
                        <img src="{{ book.thumbnail }}" alt="{{ book.title }}">
                        <p>{{ book.description|safe }}</p>
                        <!-- Drop down POPPER. Comes from bootstrap.min.css in BASE.html -->
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Action
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <form method="post" action="{% url 'add_to_library' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="add_to_library">
                                        <input type="hidden" name="id_google" value="{{ book.id_google }}">
                                        <input type="hidden" name="title" value="{{ book.title }}">
                                        <input type="hidden" name="authors" value="{{ book.authors }}">
                                        <input type="hidden" name="thumbnail" value="{{ book.thumbnail }}">
                                        <input type="hidden" name="description" value="{{ book.description }}">
                                        <input type="hidden" name="pageCount" value="{{ book.pageCount }}">
                                        <button type="submit" class="dropdown-item">I own this! Add to my library</button>
                                    </form>
                                </li>
                                <li>
                                    <form method="post" action="{% url 'add_to_library' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="add_to_wishlist">
                                        <input type="hidden" name="id_google" value="{{ book.id_google }}">
                                        <input type="hidden" name="title" value="{{ book.title }}">
                                        <input type="hidden" name="authors" value="{{ book.authors }}">
                                        <input type="hidden" name="thumbnail" value="{{ book.thumbnail }}">
                                        <input type="hidden" name="description" value="{{ book.description }}">
                                        <input type="hidden" name="pageCount" value="{{ book.pageCount }}">
                                        <button type="submit" class="dropdown-item">I want this! Add to my wishlist</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="http://www.amazon.com" target="_blank" >Buy {{ book.title }} by {{ book.authors }}</a></li>
                            </ul>
                        </div>
                    </li>
                    <br>
                {% endfor %}
            </ol>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    {% endif %}
    {% if form.errors %}
        <p>Form errors: {{ form.errors }}</p>
    {% endif %}

{% endblock %}
