{% extends "base.html" %}
{% block body_block %}

    <div class="container my-5">
        <div class="p-3 text-center bg-body-tertiary rounded-3">
            <h1 class="text-body-emphasis">Books</h1>
            <p class="lead">List of all available books</p>
        </div>
        <br>
        <div class="container">
            <div class="row">
                {% for book in books %}
                    <!-- md-2 = large screen, sm-4 = medium, xs-6 = small. img-fluid below ensures fluidity -->
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <!-- <a href="{% url 'single_book' pk=book.pk %}">{{book.title}}</a> -->
                        {% if book.thumbnail %}
                            <a href="{% url 'single_book' pk=book.pk %}"><img src="{{ book.thumbnail }}" class="img-fluid" alt="{{ book.title }}"></a>
                        {% else %}
                            <!-- Placeholder image or alternative content if thumbnail is not available -->
                            <a href="{% url 'single_book' pk=book.pk %}">{{ book.title }}</a>
                            <p><i>No thumbnail available</i></p>
                        {% endif %}
                        Copies: <span class="badge">{{book.owner.count}}</span>
                        <!-- Authors: {{book.authors}}<br> -->
                    </div>
                    {% if forloop.counter|divisibleby:6 %}
                        </div><div class="row"> <!-- Make new row every 7 thumbnails (for large screen)-->
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
