{% extends "base.html" %}
{% block body_block %}

    <div class="container my-5">
        <div class="p-3 text-center bg-body-tertiary rounded-3">
            <h1 class="text-body-emphasis">{{book.title}}</h1>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <ul>
                    {% if book.thumbnail %}
                        <img src="{{ MEDIA_URL }}{{ book.thumbnail }}" alt="{{ book.title }}">
                    {% else %}
                        <!-- Placeholder image or alternative content if thumbnail is not available -->
                        <p>No thumbnail available</p>
                    {% endif %}
                    <li>Authors: {{book.authors}}</li>
                    <li>Page Count: {{book.pagecount}}</li>
                    <br>
                    <li>Description: {{book.description|safe}}</li>
                </ul>
            </div>
            <div class="col">
                <p>{{book.owner.count}} owner{{book.owner.count|pluralize}}:</p>
                <ol>
                    {% for owner in owners %}
                        <li>
                            <a href="{% url 'user_account' pk=owner.user.pk %}">{{ owner.user.username }}</a>
                            <!-- Only possible to request book if the logged in user does not already own it -->
                            {% if user.is_authenticated and not is_owner %}
                                <form method="post" action="{% url 'request_raised' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="owner" value="{{ owner.user.pk }}">
                                    <input type="hidden" name="requester" value="{{ user.pk }}">
                                    <input type="hidden" name="google_book_id" value="{{ book.google_book_id }}">
                                    <!-- If already requested then disable button -->
                                    {% if owner.user.username in requested_owner_usernames%}
                                        <button type="submit" class='btn btn-sm btn-outline-warning disabled'>Requested</button>
                                    {% else %}
                                        <button type="submit" class='btn btn-sm btn-outline-warning'>Request</button>
                                    {% endif %}
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
            <div class="col">
                <p>{{user_wish_count}} wisher{{user_wish_count|pluralize}}:</p>
                <ol>
                    {% for wisher in user_wish %}
                        <li><a href="{% url 'user_account' pk=wisher.user.pk %}">{{ wisher.user.username }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

{% endblock %}
