{% extends "base.html" %}
{% block body_block %}

    <div class="container my-5">
        <div class="p-3 text-center bg-body-tertiary rounded-3">
            <h1 class="text-body-emphasis">Books</h1>
            <p class="lead">List of all available books</p>
        </div>
        <br>
        {% if books %}
            <ol>
            {% for rec in books %}
                <li><a href="{% url 'single_book' pk=rec.pk %}">{{rec.title}}</a></li>
                <ul>
                    {% if rec.thumbnail %}
                        <img src="{{ MEDIA_URL }}{{ rec.thumbnail }}" alt="{{ rec.title }}"><br>
                    {% else %}
                        <!-- Placeholder image or alternative content if thumbnail is not available -->
                        <p>No thumbnail available</p>
                    {% endif %}
                    Authors: {{rec.authors}}<br>
                    Number of copies: <span class="badge">{{rec.owner.count}}</span>
                </ul>
                <br>
            {% endfor %}
            </ol>
            {% else %}
                <p>NO BOOKS FOUND</p>
        {% endif %}
    </div>

{% endblock %}
