{% extends "base.html" %}
{% block body_block %}

    <div class="container my-5">
        <div class="p-3 text-center bg-body-tertiary rounded-3">
            <h1 class="text-body-emphasis">Groups</h1>
            <p class="lead">List of all groups</p>
        </div>
        <br>
        {% if groups %}
            <ol>
                {% for rec in groups %}
                <li><a href={{rec.slug}}>{{rec.group_name}}</a></li>
                <p>{{rec.description}}</p>
                <ul>
                    <span class="badge">{{rec.members.count}}</span> member{{rec.members.count|pluralize}}
                </ul>
                <br>
            {% endfor %}
            </ol>
            {% else %}
                <p>NO GROUPS FOUND</p>
        {% endif %}
    </div>

{% endblock %}
