{% extends "base.html" %}
{% block body_block %}

    <div class="container my-5">
        <div class="p-3 text-center bg-body-tertiary rounded-3">
            <h1 class="text-body-emphasis">{{group.group_name}}</h1>
            <h3>{{group.description}}</h3>
            {% if user.is_authenticated %}
                <div class="d-flex justify-content-end">
                    {% if user in group.members.all %} <!-- if logged in user already exists in model class group -->
                        <a href = "{%url 'leave_group' slug=group.slug %}" class='btn btn-lg btn-fill btn-warning button-leave'> Joined</a>
                    {% else %}
                        <a href = "{%url 'join_group' slug=group.slug %}" class='btn btn-lg btn-fill btn-primary'> Join</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <br>
        <div class="row">
            <div class="col">
                <ul>
                    <p>Group Details:</p>
                    <li>Private Group: {{group.is_private}}</li>
                </ul>
            </div>
            <div class="col">
                <p>{{group.members.count}} member{{group.members.count|pluralize}}:</p>
                <ul>
                    {% for member in members %}
                        <li><a href="{% url 'user_account' pk=member.user.pk %}">{{ member.user.username }}</a></li>
                        <p>Admin: {{ member.admin }}</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
        var btn = document.querySelector(".button-leave");
        var current_colour = btn.style.background;
        console.log(current_colour)
        btn.addEventListener("mouseover", function() {
            this.textContent = "Leave";
            this.style.background = "rgba(255,0,0,0.6)";
        })
        btn.addEventListener("mouseout", function() {
            this.textContent = "Joined";
            this.style.background = current_colour;
        })
    </script>

{% endblock %}
